# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Alfred
alfred/Alfred.alfredpreferences/clipboard
alfred/Alfred.alfredpreferences/preferences/local/
